<nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        Aristotelis.
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://bulma.io/">
          Home
        </a>
        <a class="navbar-item" href="./skills.html">
          Skills
        </a>
        <a class="navbar-item" href="./experience.html">
          Experience
        </a>
        <a class="navbar-item" href="./education.html">
          Education
        </a>
        <a class="navbar-item" href="./contact.html">
          Contact me!
        </a>
      </div>
    </div>
  </nav>