@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Play&family=Roboto+Condensed:wght@300&display=swap';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css';


* {
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Play', sans-serif;
}

.footer {
    background-color: #20262E;
    color: aliceblue;
}

#linkedin-btn {
    background-color: #0077b5;
}

#github-btn {
    background-color: #333;
}

#short-bio {
    background-color: #f2da00;


}
#short-bio:hover {
    background-color: #fff12f;
}

#btn-a {
    color: white;
}